@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    
        margin: 0;
        padding: 0;
        font-weight:Centry Gothic;
        background-color: #094b65;
        background-size: cover;
        background-position: center;
    
}
.aboutus{
    height: 90vh;
    width: 30%;
    background:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    padding: 0 20px;
    font-family: 'Quicksand',sans-serif;
   
}

.aboutus h1{
    color:  #094b65;
    margin-top: 50px;
    text-align: center;
}

.aboutus p {
    color: #094b65;
    margin-top: 60px;
    font-size: large;
}




.btn {
    
    left: 50;
    background:no-repeat ;
    outline: none;
    border: 1px solid  #094b65;
    color: #094b65;
    width: 50%;
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
    border-radius: 50px;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 30px;
}
.btn:hover {
    background: #094b65;
    color: black;
}